@font-face {
  font-family: "Computer Modern Serif";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("computer-modern/CMUSerif-Roman.woff2");
}
@font-face {
  font-family: "Computer Modern Serif";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("computer-modern/CMUSerif-Bold.woff2");
}
@font-face {
  font-family: "Computer Modern Serif";
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: url("computer-modern/CMUSerif-Italic.woff2");
}
@font-face {
  font-family: "Computer Modern Serif";
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: url("computer-modern/CMUSerif-BoldItalic.woff2");
}

body{
 background: #F3FFEB; /* DFFFCC */
 font-size: 30px;
 font-weight: normal;
 margin-top: 20px;
 font-family: "Computer Modern Serif", Helvetica, sans-serif;
}

h1, h2, h3 {
 color: #FF7A14;
}

p{
 color: #21160D;
}

#header{
 display: flex;
 justify-content: center;
}

#container{
 padding-bottom: 10%;
 max-width: 800px;
 margin-left: auto;
 margin-right: auto;
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
}

#footer{
 display: flex;
 justify-content: flex-end;
}

.profile-picture{
 width: 300px;
 border-radius: 20px;
 border: 6px solid #EEB0C9;
}

.logo{
 width: 300px;
}
