h1, h2, h3 {
 color: #FF7A14;
}

p{
 color: #21160D;
}

body{
 background: #F3FFEB;
 font-size: 20px;
 margin-top: 20px;
 font-family: "Computer Modern Serif", Helvetica, sans-serif;
}

header{
 display: flex;
 justify-content: center;
}

main{
 max-width: 40em;
 margin-left: auto;
 margin-right: auto;
 display: flex;
 flex-direction: column;
}

footer{
 display: flex;
 justify-content: flex-end;
}

#profile-picture{
 width: 13em;
 border-radius: 20px;
 border: 6px solid #EEB0C9;
}

#logo{
 width: 10em;
}

@font-face {
  font-family: "Computer Modern Serif";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("computer-modern/CMUSerif-Roman.woff2");
}
@font-face {
  font-family: "Computer Modern Serif";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("computer-modern/CMUSerif-Bold.woff2");
}
@font-face {
  font-family: "Computer Modern Serif";
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: url("computer-modern/CMUSerif-Italic.woff2");
}
@font-face {
  font-family: "Computer Modern Serif";
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: url("computer-modern/CMUSerif-BoldItalic.woff2");
}
