:root{
 color-scheme: light dark;
}

h1, h2, h3 {
 color: light-dark(#EB6600, #FFB8DE);
}

:link, :visited{
 color: light-dark(#A8005D, #F3FFEB);
 text-decoration: underline dotted;
}

body{
 color: light-dark(#1A1A1A, #F9FAFB);
 background: light-dark(#F3FFEB, #0D0D2B);
 font-size: 17pt;
 margin-top: 17pt;
 font-family: "Computer Modern Serif", Helvetica, sans-serif;
}

header{
 display: flex;
 justify-content: center;
}

main{
 max-width: 40em;
 margin-left: auto;
 margin-right: auto;
 display: flex;
 flex-direction: column;
}

footer{
 display: flex;
 justify-content: flex-end;
}

#profile-picture{
 width: 13em;
 border-radius: 15pt;
 border: 5pt solid light-dark(#EEB0C9, transparent);
}

#logo{
 width: 10em;
}

@font-face {
  font-family: "Computer Modern Serif";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("computer-modern/CMUSerif-Roman.woff2");
}
@font-face {
  font-family: "Computer Modern Serif";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("computer-modern/CMUSerif-Bold.woff2");
}
@font-face {
  font-family: "Computer Modern Serif";
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: url("computer-modern/CMUSerif-Italic.woff2");
}
@font-face {
  font-family: "Computer Modern Serif";
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: url("computer-modern/CMUSerif-BoldItalic.woff2");
}
